.bg-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #161625;
  align-items: center;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.heading {
  color: #2cc6c6;
  font-size: 25px;
  font-family: roboto;
}
.paragraph {
  color: #cbd5e1;
  font-size: 25px;
  font-family: roboto;
  align-self: flex-start;
}
.failure-img{
  width: 500px;
  height: 500px;
}
.error{
  color:#ffffff;
  font-size: 50px;
  font-family: Lobastar;
}
